In [6]:
import nltk
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt

In [7]:
nltk.download('brown')
nltk.download('treebank')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import brown, treebank

[nltk_data] Downloading package brown to /home/halas/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package treebank to /home/halas/nltk_data...
[nltk_data]   Package treebank is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/halas/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [8]:
txt1 = brown.tagged_words(tagset='universal')
txt2 = treebank.tagged_words(tagset='universal')

In [9]:
tokens = [(tup[0].lower(), tup[1]) for tup in txt1]
tokens.extend([(tup[0].lower(), tup[1]) for tup in txt2])

# Make a word-frequency dict
counter = Counter(tokens)
word_freq = {}
for (k1, k2), value in counter.items():
    if k1 not in word_freq:
        word_freq[k1] = {}
    word_freq[k1][k2] = value

In [10]:
df = pd.DataFrame.from_dict(word_freq).fillna(0).transpose()
df = df.div(df.sum(axis=1), axis=0) # Normalize the frequencies
df.head()

,DET,X,NOUN,ADJ,NUM,VERB,CONJ,ADP,.,ADV,PRON,PRT
the,0.999813,0.00004,0.000067,0.000067,0.000013,0.0,0.0,0.0,0.0,0.0,0.0,0.0
fulton,0.000000,0.00000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
county,0.000000,0.00000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
grand,0.000000,0.06000,0.020000,0.920000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
jury,0.000000,0.00000,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Select 'man' from the df
man_dist = df.loc['man']
man_dist['NOUN'], man_dist['VERB']

(0.9967239967239967, 0.002457002457002457)

In [ ]:
### Code to output tags
# with open('data/data_normal.txt') as f:
#     lines = f.readlines()

# out = open('data/labels_normal.txt', "w")
# for line in lines:
#     token = nltk.word_tokenize(line)
#     tag = nltk.pos_tag(token, tagset='universal')
#     tags = [t[1] for t in tag]
#     for t in tags:
#         out.write(t + " ")
#     out.write('\n')